/* You'll probably want to add some styles here */
body {
    background-color: orange;
    background-image: url("../img/background_image_9.jpg");
}

header {
    text-align: center;
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', "sans-serif";
    font-style: italic;
    background-color: transparent;
}

p {
    background-color: transparent;
    margin-left: 28%;
    width: 500px;
}

a {
    style: none;
}

footer {
    height: 60px;
    background-image: none;
    text-align: right;

}

#container {
    border: solid black;
    margin-left: 28%;
    margin-top: 5%;
}

#red {
    color:red;
}

#blue {
    color:blue;
}

#green {
    color: green;
}

